/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.margin-top1
{
     margin-top: 60px;
}
.margin-top2
{
     margin-top: -100px;
}
.margin-bottom
{
    margin-bottom: 20px;
}
.margin-top-minus
{
    margin-top: -10;
}
.text-black
{
    color: #000000;
}